*{
    padding: 0;
    margin: 0;
    
}
body{
    height: 800px;
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(218, 23%, 16%);
    flex-direction: column;
   
}
main{
    width: 560px;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    background-color:hsl(217, 19%, 24%) ;
}
.container{
    width: 520px;
    height: 220px;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
 }
#advice_body{
    width: 520px;
    height: 200px;
   
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     font-size: 25px;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    text-align: center;
    color: hsl(193, 38%, 86%);
    
} 
#advice_title{
  
    width: 200px;
    text-align: center;
    font-size: 14px;
font-weight:400;    
     color:  hsl(150, 100%, 66%);
     font-family: "Manrope", sans-serif;
     
}
.img_pause{
    width: 450px;
    height: 50px;
 }

#square_advice{
    width: 60px;
    height: 60px;
    background-color: hsl(150, 100%, 66%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    border-radius: 100%;
   
}
#square_advice img{
    width: 30px;
    height: 30px;
}
#square_advice:hover{
    width: 60px;
    height: 60px;
     cursor: pointer;
    border-radius: 100%;
    box-shadow: 
        0 0 10px hsl(150, 100%, 66%),   
        0 0 0px hsl(150, 100%, 66%),   
        0 0 30px hsl(150, 100%, 50%),   
        0 0 0px hsl(150, 100%, 40%),   
        0 0 0px hsl(150, 100%, 30%),   
        0 0 10px hsl(150, 100%, 20%);  
}
@media only screen and (max-width: 375px),(max-height: 300px) {

    *{
        padding: 0;
        margin: 0;
        
    }
    body{
        height: 375px;
        width: 375px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: hsl(218, 23%, 16%);        flex-direction: column;   
    }
    main{
        width: 360px;
        height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        background-color:hsl(217, 19%, 24%) ;
    }
    .container{
        width: 300px;
        height: 220px;
         display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
       }
    #advice_body{
        width: 280px;
        height: 140px;
          display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
         font-size: 18px;
        font-family: "Manrope", sans-serif;
        font-weight: 600;
        text-align: center;
        color: hsl(193, 38%, 86%);
        
    } 
    #advice_title{
      
        width: 200px;
        text-align: center;
        font-size: 14px;
    font-weight:400;    
         color:  hsl(150, 100%, 66%);
         font-family: "Manrope", sans-serif;
          
    }
    .img_pause{
        width: 305px;
        height: 50px;
       }
    
    #square_advice{
        width: 60px;
        height: 60px;
        background-color: hsl(150, 100%, 66%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -30px;
        border-radius: 100%;
       
    }
    #square_advice img{
        width: 30px;
        height: 30px;
    }
    #square_advice:hover{
    width: 60px;
    height: 60px;
     cursor: pointer;
    border-radius: 100%;
    box-shadow: 
        0 0 10px hsl(150, 100%, 66%),   
        0 0 0px hsl(150, 100%, 66%),   
        0 0 30px hsl(150, 100%, 50%),   
        0 0 0px hsl(150, 100%, 40%),   
        0 0 0px hsl(150, 100%, 30%),   
        0 0 10px hsl(150, 100%, 20%);  
} 
}
  